progress {
  color: white;
  height: 5px;
  width: 94.5%;
  background: #f0f0f0;
}
progress::-moz-progress-bar {
  background: #f0f0f0;
}

progress[value]::-webkit-progress-bar {
  background-color: gray;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: white;
}
